:root {
  --mobile: 1;
}

html * {
  font-family: "Times New Roman", Times, serif;
  font-size: calc(var(--mobile) * 16px);
}

p, a {
  max-width: 80ch;
  line-height: 2;
  text-align: justify;
  text-justify: inter-word;
  margin-top: calc(var(--mobile) * 16px);
  margin-bottom: calc(var(--mobile) * 16px);
  margin-left: 0;
  margin-right: 0;
}

h1 {
  font-size: calc(var(--mobile) * 32px);
  padding-bottom: calc(var(--mobile) * 16px);
  border-bottom: 1px solid black;
}

h2 {
  font-size: calc(var(--mobile) * 24px);
  padding-bottom: calc(var(--mobile) * 16px);
  margin-top: calc(var(--mobile) * 32px);
  border-bottom: 1px solid gray;
}

h3 {
  font-size: calc(var(--mobile) * 20px);
  margin-top: calc(var(--mobile) * 32px);
}

body {
  padding: calc(var(--mobile) * 16px);
  border: 1px solid black;
  max-width: 80ch;
  margin-left: auto;
  margin-right: auto;
  margin-top: calc(var(--mobile) * 16px);
  margin-bottom: calc(var(--mobile) * 16px);
}

hr {
  max-width: 80ch;
}

td {
  max-width: 80ch;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 8px;
  padding-left: 0px;
  margin: calc(var(--mobile) * 16px);
}

table.bordered {
  border: 1px solid black;
  padding: 0;
  border-collapse: collapse;
  margin-top: calc(var(--mobile) * 16px);
  margin-bottom: calc(var(--mobile) * 16px);
}

table.bordered > tbody {
  border: 1px solid black;
  padding: 0;
  margin: 0;
}

table.bordered > tbody > tr {
  border: 1px solid black;
}

table.bordered > tbody > tr > th {
  border: 1px solid black;
  text-align: left;
  padding: calc(var(--mobile) * 4px);
}

table.bordered > tbody > tr > td {
  border: 1px solid black;
  padding: calc(var(--mobile) * 4px);
}

img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: calc(var(--mobile) * 16px);
  margin-bottom: calc(var(--mobile) * 16px);
}

ul, ol {
  margin-top: 0;
}

code {
  font-family: "JetBrainsMono", mono, serif;
}

code.block {
  display: block;
  margin: calc(var(--mobile) * 8px);
  padding: calc(var(--mobile) * 8px);
  background: lightgray;
  background-size: contain;
  border: 1px solid gray;
}

table.footer {
  max-width: 80ch;
  max-height: calc(var(--mobile) * 16px);
  font-size: calc(var(--mobile) * 12px);
  margin-top: calc(var(--mobile) * 64px);
  margin-bottom: calc(var(--mobile) * 8px);
  margin-left: auto;
  margin-right: auto;
  background: lightgray;
  padding-top: calc(var(--mobile) * 4px);
  padding-bottom: calc(var(--mobile) * 4px);
  padding-left: calc(var(--mobile) * 16px);
  padding-right: calc(var(--mobile) * 16px);
}

table.footer > tbody > tr {
  height: calc(var(--mobile) * 12px);
}

table.footer > tbody > tr > td {
  height: 100%;
}

table.footer > tbody > tr > td > a > img {
  display: inline-block;
  margin: 0;
  height: calc(var(--mobile) * 12px);
}

@media screen and (orientation: portrait) {
  :root {
    --mobile: 2;
  }

  body {
    border: none;
  }
}
