html * {
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
}

p, a {
  max-width: 80ch;
  line-height: 2;
  text-align: justify;
  text-justify: inter-word;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 0;
  margin-right: 0;
}

h1 {
  font-size: 32px;
  padding-bottom: 16px;
  border-bottom: 1px solid black;
}

h2 {
  font-size: 24px;
  padding-bottom: 16px;
  margin-top: 32px;
  border-bottom: 1px solid gray;
}

body {
  padding: 16px;
  border: 1px solid black;
  max-width: 80ch;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  margin-bottom: 16px;
  min-height: 90vh;
}

hr {
  max-width: 80ch;
}

td {
  max-width: 80ch;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 8px;
  padding-left: 0px;
  margin: 16px;
}

table.bordered {
  border: 1px solid black;
  padding: 0;
  border-collapse: collapse;
  margin-top: 16px;
  margin-bottom: 16px;
}

table.bordered > tbody {
  border: 1px solid black;
  padding: 0;
  margin: 0;
}

table.bordered > tbody > tr {
  border: 1px solid black;
}

table.bordered > tbody > tr > th {
  border: 1px solid black;
  text-align: left;
  padding: 4px;
}

table.bordered > tbody > tr > td {
  border: 1px solid black;
  padding: 4px;
}

img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  margin-bottom: 16px;
}

ul, ol {
  margin-top: 0;
}

code {
  font-family: "JetBrainsMono", mono, serif;
}

code.block {
  display: block;
  margin: 8px;
  padding: 8px;
  background: lightgray;
  background-size: contain;
  border: 1px solid gray;
}

@media screen and (orientation: portrait) {
  html * {
    font-size: 32px;
  }

  h1 {
    font-size: 64px;
    padding-bottom: 32px;
  }

  h2 {
    font-size: 48px;
    padding-bottom: 32px;
    margin-top: 64px;
  }

  body {
    border: none;
    margin: 32px;
  }

  img {
    margin-top: 32px;
    margin-bottom: 32px;
  }

  td a {
    font-size: 36px;
  }
}
