p {
  max-width: 80ch;
  line-height: 2;
  font-family: "Times New Roman", Times, serif;
  font: 12px;
  /* color: #ebdbb2; */
  text-align: justify;
  text-justify: inter-word;
}

body {
  width: 100ch;
  margin-left: auto;
  margin-right: auto;
  /* background-color: #282828; */
}
