@font-face {
    font-family: CascadiaMono;
    src: url(../fonts/CascadiaMono.woff2);
}

@font-face {
    font-family: CascadiaMonoSemiLight;
    src: url(../fonts/CascadiaMono-SemiLight.woff2);
}

* {
  box-sizing: border-box;
}

body {
  font-family: CascadiaMonoSemiLight;
  margin: 150px;
  padding: 0;
}

button {
  font-family: CascadiaMonoSemiLight;
  color: #0f0;
  background-color: #151515;
  border: 0px solid #151515;
  font-size: 20px;
}

ul {
  padding-inline-start: 20px;
}

* {
  box-sizing: border-box;
}

.square {
  background: #151515;
  border: 2px solid #050505;
  float: left;
  font-size: 50px;
  font-weight: bold;
  line-height: 34px;
  height: 70px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 70px;
}

.green-square {
  background: #15f015;
  border: 2px solid #15c015;
  color: #000;
  float: left;
  font-size: 50px;
  font-weight: bold;
  line-height: 34px;
  height: 70px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 70px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}
.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 100px;
}
