@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

h1 {
    text-align: center;
    font-size: 10vw;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;

    padding: 3vw;
    position: relative;
    top: 5vw;

    background-color: #313d4b;
    border-radius: 3vw;
}

p {
    text-align:left;
    font-size: 2vw;
    font-family: 'Courier New', Courier, monospace;
    color:#fff;

    padding: 3vw;


    background-color: #313d4b;
    border-radius: 3vw;
}

.top-bar {
    z-index: 1;

    display: flex;
    justify-content: space-between;

    font-size: 4vw;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;

    margin: 0;
    padding: 2vw;

    background-color: #2c3743;
    border-bottom-left-radius: 3vw;
    border-bottom-right-radius: 3vw;
    border-color: #212932;
    border-style: solid;
    border-width: 1vw;
    
    width: 81vw;
    position:fixed;
    top: 0vw;
}

.top-bar-left {
    display: inline flex;
    justify-content: flex-start;
}

.top-bar-links {
    display: inline flex;
    justify-content: flex-end;
}

.top-bar-links a {
    margin-left: 3vw;
}

:any-link {
    color: #fff;
}

body {
    margin: 6vw;

    background-color: #212932;
}

.tab-list {
    background-color: #999;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    height: 50px;

    text-align: Center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
}

.courier-prime-regular {
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
}

.courier-prime-bold {
    font-family: "Courier Prime", monospace;
    font-weight: 700;
    font-style: normal;
}

.courier-prime-regular-italic {
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: italic;
}

.courier-prime-bold-italic {
    font-family: "Courier Prime", monospace;
    font-weight: 700;
    font-style: italic;
}
